body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: rgb(36,52,71);
    color: rgb(218, 79, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(214, 166, 10);
    font-size: 55px;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px 50px 40px;
    text-align: center;
    font-family: helvetica;
    font-weight: 850;
}

.grid-size {
    border: 1px solid brown;
    width: 40px;
}

.grid {
    border: 4px solid brown;
    background-color: white;
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.square {
    height: 38px;
    width: 38px;
    border: 1px solid green;
}